{% extends "base.html" %}

{% block index_content %}

{% for q in poll_questions %}
<div class="poll-container d-none" id="question-{{ forloop.counter0 }}">
  <div class="poll-container--title">
    <h2 id="h2-question">{{ q.question }}</h2>
  </div>

  <form class="correlation-form">
    <div class="inner-form">
      <div class="radio-span-container">
        {% for i, radio_type in scale_order %}
        <span class="radio-span radio-{{ radio_type }} scale-{{ i }}"></span>
        {% endfor %}
      </div>
      <button
        class="radio-submit-btn btn btn-success"
        type="submit"
        onClick="nextQuestion()"
      >
        Bitti
      </button>
    </div>
  </form>

  <div class="poll-container--footer">
    <span>
      <i class="fa-solid fa-arrow-left" onClick="prevQuestion()"></i>
    </span>

    <span>
      <i class="fa-solid fa-arrow-right" onClick="nextQuestion()"></i>
    </span>
  </div>
</div>
{% endfor %}

{% endblock %}
